<ion-header>

  <ion-navbar>
    <ion-title>Scheduled Meetings</ion-title>

  </ion-navbar>

</ion-header>

<ion-content>
<!-- <p> {{test}} </p> -->
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openCal(item.dtstart)">
        <h1>{{item.title}}</h1>
        <p>{{item.dtstart | date: 'dd-MM-yyyy h:mm:ss a'}}</p>
        <ion-note item-end *ngIf="item.dtend">{{item.dtend | date: 'dd-MM-yyyy h:mm:ss a'}}</ion-note>
      </button>

      
    </ion-item-sliding>
  </ion-list>
</ion-content>