<ion-header>

  <ion-navbar>
    <ion-title>Scheduled Meetings</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
<!-- <p> {{test}} </p> -->
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <h1>{{item.title}}</h1>
        <p>{{item.dtstart | date: 'dd-MM-yyyy'}}</p>
        <ion-note item-end *ngIf="item.dtend">{{item.dtend | date: 'dd-MM-yyyy'}}</ion-note>
      </button>

      
    </ion-item-sliding>
  </ion-list>
</ion-content>